{% extends "layout.html" %}
{% block body %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('https://i.pinimg.com/originals/de/c8/5d/dec85d3977cfbc1d016f9ccf2b2b9c0c.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>COURSES</h1>
              <span class="subheading">Courses provided by us</span>
            </div>
          </div>
        </div>
      </div>
    </header>
<style>
    .f {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 25px;

    }
    .f1{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 5px;
    }
    .f2{
        display: flex;
        justify-content:space-between;
        
        margin-top: 5px;
    }
    .ri{
display: flex;
position: sticky;
text-align: center;
background-color:rgba(81, 255, 0, 0.856);
color:black;
padding: 4px;
justify-content: center;
}
</style>
<!-- cards div -->

<div class="f" style="color: ghostwhite;">
    <h1 style="color:red">Courses</h1>
</div>
<div class="f">
    <div class="card text-white bg-dark mb-3"" style=" width: 18rem;">
        <img src="https://cdn.glitch.com/d3d57d2f-65b9-4078-a81c-d98fea2da3a0%2F1.gif?v=1595167019879" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Android app development</h5>
            <p class="card-text">Start buliding your own android app with us.</p>
            <a href="/app2" class="btn btn-primary">Go to course</a>
        </div>
    </div>
    <div class="card text-white bg-dark mb-3"" style=" width: 18rem;">
        <img src="https://cdn.glitch.com/d3d57d2f-65b9-4078-a81c-d98fea2da3a0%2F1.gif?v=1595167019879" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Android app development</h5>
            <p class="card-text">Start buliding your own android app with us.</p>
            <a href="/app2" class="btn btn-primary">Go to course</a>
        </div>
    </div>
    <div class="card text-white bg-dark mb-3"" style=" width: 18rem;">
        <img src="https://cdn.glitch.com/d3d57d2f-65b9-4078-a81c-d98fea2da3a0%2F1.gif?v=1595167019879" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Android app development</h5>
            <p class="card-text">Start buliding your own android app with us.</p>
            <a href="/app2" class="btn btn-primary">Go to course</a>
        </div>
    </div>
</div>
<hr>

<div class="f">
    <div class="card text-white bg-dark mb-3"" style=" width: 18rem;">
        <img src="https://cdn.glitch.com/d3d57d2f-65b9-4078-a81c-d98fea2da3a0%2F1.gif?v=1595167019879" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Android app development</h5>
            <p class="card-text">Start buliding your own android app with us.</p>
            <a href="/app2" class="btn btn-primary">Go to course</a>
        </div>
    </div>
    <div class="card text-white bg-dark mb-3"" style=" width: 18rem;">
        <img src="https://cdn.glitch.com/d3d57d2f-65b9-4078-a81c-d98fea2da3a0%2F1.gif?v=1595167019879" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Android app development</h5>
            <p class="card-text">Start buliding your own android app with us.</p>
            <a href="/app2" class="btn btn-primary">Go to course</a>
        </div>
    </div>
    <div class="card text-white bg-dark mb-3"" style=" width: 18rem;">
        <img src="https://cdn.glitch.com/d3d57d2f-65b9-4078-a81c-d98fea2da3a0%2F1.gif?v=1595167019879" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Android app development</h5>
            <p class="card-text">Start buliding your own android app with us.</p>
            <a href="/app2" class="btn btn-primary">Go to course</a>
        </div>
    </div>
</div>
<hr>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="/app2">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="/app2">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="/app2">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted">Copyright © coding masters 2018</p>
          </div>
        </div>
      </div>
      {% endblock %}